Broken Antioch RFC XML when executed from parent directory

This is probably a bug of metanorma-ietf:

```
$ metanorma compile sources/antioch/document.adoc
[metanorma] Error: nits format is not supported for this standard.
[relaton] cache /Users/me/.relaton/cache/w3c/: version is obsolete and cache is cleared.
[relaton] cache /Users/me/.relaton/cache/iso/: version is obsolete and cache is cleared.
[relaton] cache /Users/me/.relaton/cache/ietf/: version is obsolete and cache is cleared.
[relaton] cache /Users/me/.relaton/cache/nist/: version is obsolete and cache is cleared.
[relaton] cache /Users/me/.relaton/cache/iec/: version is obsolete and cache is cleared.
[relaton-ietf] ("RFC 8140") fetching...
[relaton-ietf] ("RFC 8140") found RFC 8140
[relaton-ietf] ("RFC 2119") fetching...
[relaton-ietf] ("RFC 2119") found RFC 2119
[relaton-ietf] ("RFC 2635") fetching...
[relaton-ietf] ("RFC 2635") found RFC 2635
[relaton-ietf] ("RFC 7990") fetching...
[relaton-ietf] ("RFC 7990") found RFC 7990
[relaton-ietf] ("RFC 8174") fetching...
[relaton-ietf] ("RFC 8174") found RFC 8174
Style Warning: (XML Line 000254): Hanging paragraph in clause
Style Warning: (XML Line 000538): Hanging paragraph in clause
Style Warning: (XML Line 000541): Table should have title
Syntax Valid!
sources/antioch/document.rfc.xml(12): Warning: Removed a redundant ascii= attribute from <title>
sources/antioch/document.rfc.xml(15): Warning: Removed a redundant asciiFullname= attribute from <author>
sources/antioch/document.rfc.xml(196): Error: Cannot build a href for <xref target="RFC8140"> with a section= attribute without also having a relative= attribute.
Not creating output file due to errors (see above)
sources/antioch/document.rfc.xml(12): Warning: Removed a redundant ascii= attribute from <title>
sources/antioch/document.rfc.xml(15): Warning: Removed a redundant asciiFullname= attribute from <author>
sources/antioch/document.rfc.xml(196): Error: Cannot build a href for <xref target="RFC8140"> with a section= attribute without also having a relative= attribute.
Not creating output file due to errors (see above)

```

~~If this command was executed in the same directory of the file, it seems to work.~~

No it doesn't work.

The error is being raised against:

`<relref target="RFC8140" section="4.1" displayFormat="of"></relref>`

Which means that to start with, the error is misleading, it reports as xref and not relref.

`section` was a mandatory attribute of relref in RFC7991.

`relative` was not a mandatory attribute of relref in RFC7991. It is used to generate anchors.

In https://tools.ietf.org/html/draft-levkowetz-xml2rfc-v3-implementation-notes-10#page-48, it turns out that relref is rewritten as xref, which explains the spurious error message. 

The behaviour that `relative` is now required if `section` is provided in `relref` is NOT documented in Levkowetz or the XML RFC schema (nor can it be in the latter); and because the Antioch document used to compile, I suspect it is new. I'm getting it in xml2rfc v 2.41.0; the metanorma-ietf gem was written for v2.37.0. Behaviour confirmed for v.2.45.3, latest release.

Will be addressed by suppressing section output to relref unless relative is also included. Now that we have added anchor to the allowed localities, we have that option.

Turns out relative attribute was being ignored in conversion from Metanorma XML to RFC XML. Restored as alternative to anchor locality.